<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Detailpage" , css: "main" })%>

  <body>
    <a href="/">Home</a>
    <h1><%= title %></h1>
    <% if(data.length <=0){ %>
      <h1>Not found</h1>
      <% } else{ %>
        <div>
          <h1></h1>
          <ul>
            <% for (var i=0; i < 10; i++) { %>
              <li>
                <% if(data[i] != undefined ){ %>

                <a href="https://www.reddit.com<%=data[i].data.permalink %>""><%= data[i].data.title %></a>
                

                <% if (data[i].data.preview != null) { %>
                  <% console.log(data[i].data.preview.images) %>
                  <img src="<%- data[i].data.preview.images[0].source.url %>" alt="" srcset="">
                  <span>Aaaa</span>
                <% } %>


                <% } %>

              </li>
          <% } %>
        </ul>
      </div>

    <% } %>
  </body>

</html>